{sys, [
       {lib_dirs, ["../..", "../deps"]},
       {rel, "wallaroo_web", "1",
        [
         wallaroo,
         wallaroo_web,
         kernel,
         stdlib,
         crypto,
         webmachine,
         mochiweb,
         sasl
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "wallaroo_web"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, sasl, [{incl_cond, include}]}
      ]}.

{target_dir, "wallaroo_web"}.

{overlay, [
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/wallaroo_web", "bin/wallaroo_web"},
           {copy, "files/wallaroo_web.cmd", "bin/wallaroo_web.cmd"},
           {copy, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
